*{
  list-style: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card:hover {
  box-shadow: 0px 0px 10px 10px #a2c0f1;
}

.movie-card-body {
  /* background-color: aqua; */
}

img {
  height: 15rem;
}

.fav-icon {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  height: 3rem;
  cursor: pointer;
}

.synopsis {
  cursor: pointer;
}