*{
  list-style: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card:hover {
  box-shadow: 5px 5px 16px 16px #b8b4f9;
}

.movie-card-body {
  /* background-color: aqua; */
}

img {
  height: 15rem;
}

.fav-icon {
  margin: auto;
  font-size: 2rem;
  cursor: pointer;
}