h1 {
  color: #646cff;
}

.filters-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

input {
  height: 2rem;
  width: 20rem;
  border-radius: 8px;
  border: 1px solid transparent;
}

input:hover {
  border-color: #646cff;
}